*.settings
/connect-runtime/.classpath
/connect-runtime/.settings
/connect-runtime/.project
/connect-runtime/target
/connect-runtime/bin
/common/.classpath
/common/.settings
/common/.project
/common/target
/common/bin
/rules/target
/rules/bin
/rules/.classpath
/rules/.project
/rules/.settings
/page/target
/page/bin
/page/.classpath
/page/.project
/page/.settings
/connect/.classpath
/connect/.settings
/connect/.project
/connect/target
/connect/bin
*.project
/.idea/dictionaries/kosoman.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
.idea/*
*.iml
log/*
target/
/rules/src/main/resources/static/
core/src/main/java/com/gaiaworks/workspace/WspCommentGenerator.java
core/src/main/resources/generatorConfig-comment.xml
core/src/main/resources/generatorConfig-mapper.xml
__pycache__
build
.vscode
*.zip
*.log
Testing
Tempoary
